.colorTurquesa {
  background-color: #30a7d7;
}

.columna1 {
  background-color: #4dad5b;
  color: white;
}

.columna2 {
  background-color: #855ac9;
  color: white;
}

.columna3 {
  background-color: #e3350d;
  color: white;
}
